<div class = "form-container">
    <form action = "/artist-search-result" method= "get">
    <label for="search">This is the Spotify home view</label>
    <input type="text" name="search" id="search" placeholder="Search"/>
    <button id="request-button" type="submit" >Search for an Artist</button>
    </form>

</div>
